asttokens
attrs
certifi
cffi
chardet
charset-normalizer
click
cmake
colorama
comm
cryptography
debugpy
decorator
diff_cover
executing
fastjsonschema
gcloud
googleapis-common-protos
httplib2
idna
iniconfig
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jwcrypto
MarkupSafe
matplotlib-inline
narwhals
nbformat
nest-asyncio
numpy
oauth2client
packaging
pandas
parso
pathspec
platformdirs
plotly
pluggy
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pycryptodome
Pygments
pyparsing
pyproject-toml
Pyrebase4
pytest
python-dateutil
python-jwt
pytz
PyYAML
pyzmq
ratelimit
referencing
regex
requests
requests-toolbelt
rpds-py
rsa
setuptools
six
sqlfluff
stack-data
streamlit
tblib
toml
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
wcwidth
wheel